td:last-child div{
	display: inline-block !important;
}

tbody a:hover,tbody button:hover{
	color: #fd7e14 !important;
}

tbody tr:hover{
	background-color: #3d3d3d;
	color: white;
	cursor: pointer;
}